spring:
  banner:
    location: classpath:banner.txt
    charset: UTF-8
  application:
    name: delivery-service

  datasource:
    url: jdbc:postgresql://localhost:5432/delivery_system_local
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  flyway:
    enabled: false

server:
  port: 8080


datasource:
  seed:
    enabled: false
