spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/delivery_system_local
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  flyway:
    enabled: false

logging:
  level:
    root: DEBUG
    com.delivery: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

server:
  port: 8080

delivery:
  payment:
    stripe:
      enabled: false
    paypal:
      mode: sandbox